@model RedirectViewModel
   
<h1 >即将返回您的应用程序</h1>
<p >请耐心等待</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
